@import "variables";
@import "animation"; 
.btn-bg-light-poem {
  background-color: $mainColorLight;
 
  &:active {
    box-shadow: 0 0 0 10px rgba(49, 89, 64, 0.267);
  }
  &.red:active {
    box-shadow: 0 0 0 10px rgba(139, 0, 0, 0.267);
  }
}
.btn-bg-light {
  background-color: $mainColorLight;
  animation: upDown 1s infinite alternate;
  &:active {
    box-shadow: 0 0 0 10px rgba(49, 89, 64, 0.267);
  }
}

.text-landing {
  color: $mainTextColor;
}

.bg-section {
  background-color: #0a191d;
}

.btn-show-poems {
  &.gold {
    background: linear-gradient(to top, #706a4a, #07211b 100%);
  }
  &.green {
    background: linear-gradient(to top, #4a7058, #07211b 50%);
  }
  border: white 1px solid;
  color: white;
  &.green:active {
    box-shadow: 0 0 0 10px rgba(49, 89, 64, 0.267);
  }
  &.red:active {
    box-shadow: 0 0 0 10px rgba(89, 49, 49, 0.267);
  }
}

.text-green {
  color: $mainColorLight;
}
